{% extends 'layout.html'%}
{% block body%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/add_contact" method="POST">
    <div class="row">

        <div class="col-sm border">
            <input class="form-control-plaintext" type="text"  name="fullname" placeholder="name">
        </div>
        <div class="col-sm border">
            
            <input class="form-control-plaintext" type="text"  name="phone" placeholder="phone">
        </div>
        <div class="col-sm border">
            
            <input class="form-control-plaintext" type="text"  name="email" placeholder="email">
        </div>
       

            <button class=" col-sm btn btn-success" type="submit">save</button>
        
    </div>
</form>

<table class="table table-hover mx-2 mt-5">
    <thead>
        <tr>
            <td class="fw-bold text-capitalize">Fullname </td>
            <td class="fw-bold text-capitalize">phone </td>
            <td class="fw-bold text-capitalize">email </td>
            <td class="fw-bold text-capitalize">actions </td>
        </tr>
    </thead>
    <tbody>
        {%for contact in  contacts %}
        <tr>
            <td>
                {{contact.1}}
            </td>
            <td>
                {{contact.2}}
            </td>
            <td>
                {{contact.3}}
            </td>
            <td class="row">
                <div class=" col-sm mx-2">
                    <a class=" d-grid gap-2 btn btn-primary text-decoration-none text-white" href="/edit/{{contact.0}}"> Edit</a>
                </div>
                <div class=" col-sm">
                    <a class=" d-grid gap-2 btn btn-danger text-decoration-none text-white" href="/delete/{{contact.0}}"> Delete</a>
                </div>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>
{% endblock%}